@using SmartHome.Connection.Interfaces;
@using System.Drawing;
@using SmartHome.Connection.Models;

@if (_poweredOn)
{
    <p>😎: @(SmartBulb.Brightness)%</p>
    <input type="range" @bind="@SmartBulb.Brightness" class="form-range" min="0" max="100" @bind:event="oninput">

    <input type="range" @bind="@Hue" class="form-range" min="0" max="360" @bind:event="oninput">
    /* This lags quite a bit; maybe shouldn't use a range for this as blazor has to send a message every movement */

    <p>@((SmartBulb as TPLinkBulb)._bulbH)</p>
    <p>@((SmartBulb as TPLinkBulb)._bulbS)</p>
    <p>@((SmartBulb as TPLinkBulb)._bulbV)</p>
}

@code {
    [Parameter]
    public ISmartBulb SmartBulb { get; set; }

    private bool _poweredOn => SmartBulb.On;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _hue = SmartBulb.Hue;
    }

    private int _hue;
    private int Hue
    {
        get => _hue;
        set
        {
            _hue = value;
            OnColorChange();
        }
    }

    private void OnColorChange()
    {
        SmartBulb.Hue = _hue;
        StateHasChanged(); // TODO Try without this call
    }
}
